{% extends "common/base" %}

{% block content %}
  <p style="font-family: Arial, sans-serif; color: #333;">
    Шановн(-ий/-а) користувач(-ко),
  </p>

  <p style="font-family: Arial, sans-serif; color: #333;">
    Ми хочемо Вас проінформувати, що були внесені важливі зміни до тікетів на платформі <strong>TreS</strong>. Нижче наведено деталізація цих змін:
  </p>

  <p style="font-family: Arial, sans-serif; color: #444; font-style: italic; margin-bottom: 1em;">
    "{{ login }} змінив значення '<strong>{{ field_name }}</strong>' з ({{ old_value }}) на (<strong>{{ new_value }}</strong>)"
  </p>

  <p style="font-family: Arial, sans-serif; color: #333;">
    Дякуємо за увагу!
  </p>
{% endblock %}
