{% extends "email/base.html" %}

{% import "email/func.jinja" as func %}

{% block content %}
  <p style="font-family: Arial, sans-serif; color: #333;">
    Шановний(а) користувачу(ко),
  </p>

  <p style="font-family: Arial, sans-serif; color: #333;">
    Цим повідомленням нагадуємо, що наступні тікети перебувають у статусі <strong>"WAITING"</strong> протягом останніх <strong>{{ func.pluralize_day(days_count) }}</strong>:
  </p>

  <ul style="padding-left: 1.2em; font-family: Arial, sans-serif; color: #444; list-style: none;">
    {% for ticket_item in tickets_data %}
      <li style="margin-bottom: 0.5em;">
        <strong>#{{ ticket_item.ticket_id }}</strong> <em>"{{ ticket_item.subject }}"</em><br>
        <p>Дата створення: {{ ticket_item.created }}</p>
      </li>
    {% endfor %}
  </ul>

  <p style="font-family: Arial, sans-serif; color: #333;">
    Будь ласка, зверніть увагу на зазначені тікети - адміністрація очікує на певні уточнення щодо них.
  </p>

  <p style="font-family: Arial, sans-serif; color: #333;">
    Дякуємо за увагу!
  </p>
{% endblock %}
